
<div class="download-btn">
	<%= link_to 'Download a Copy', portfolio_download_resume_url, target: "_blank" %>
</div>

<h1>Skills</h1>

<i class="devicon-rails-plain-wordmark colored licon"></i>

<i class="devicon-java-plain-wordmark licon"></i>

<i class="devicon-csharp-plain colored licon"></i>

<i class="devicon-dot-net-plain-wordmark colored licon"></i>

<i class="fas fa-database licon"></i>

<i class="devicon-javascript-plain colored licon"></i>

<i class="devicon-css3-plain-wordmark colored licon"></i>

<i class="devicon-html5-plain-wordmark colored licon"></i>

<h1>Experience</h1>
<div class="res-ex">
<p class="res-title">Software Engineer</p>
<p class="res-company">T-Mobile</p>
<p class="res-date">August 2020 - present</p>
<ul class="res-list">
	<li>Back-end microservice development using Java, Spring Boot, Maven, and Cassandra</li>
	<li>New development and production support</li>
</ul>
</div>
<div class="res-ex">
<p class="res-title">Developer</p>
<p class="res-company">Supply.com</p>
<p class="res-date">May 2018 - August 2020</p>
<ul class="res-list">
	<li>Back-end microservice development using .NET Core, SQL, and JavaScript</li>
	<li>ETL development and design</li>
	<li>Data analytics development</li>
</ul>
</div>
<div class="res-ex">
<p class="res-title">Database Intern</p>
<p class="res-company">Systems & Methods, Inc.</p>
<p class="res-date">August 2017 - May 2018</p>
<ul class="res-list">
	<li>SQL Server development and administration</li>
	<li>Developed and supported stored procedures and other database objects</li>
	<li>Participated in design sessions and code review with senior level DBAs</li>
</ul>
</div>
<div class="res-ex">
<p class="res-title">Web Development Intern</p>
<p class="res-company">Ozier Apparel</p>
<p class="res-date">January 2017 - May 2017</p>
<ul class="res-list">
	<li>Tutored and graded students in Java, PHP, Python, JavaScript, and HTML/CSS</li>
</ul>
</div>
<div class="res-ex">
<p class="res-title">Graduate Assistant</p>
<p class="res-company">University of West Georgia</p>
<p class="res-date">August 2016 - May 2018</p>
<ul class="res-list">
	<li>Worked in HTML, CSS, and Javascript to continue website development using the InkSoft platform.</li>
</ul>
</div>

<h1>Education</h1>
<div class="res-ex">
<p class="res-title">B.A. in Global Studies, German</p>
<p class="res-company">University of West Georgia</p>
<p class="res-date">Graduated July 2012</p>
<ul class="res-list">
	<li>Graduated summa cum Laude</li>
	<li>Received Bryson Prize for Achievement in International Studies</li>
</ul>
</div>
<div class="res-ex">
<p class="res-title">M.S. in Applied Computer Science</p>
<p class="res-company">University of West Georgia</p>
<p class="res-date">Graduated July 2018</p>
<ul class="res-list">
	<li>4.0 in all Master coursework</li>
	<li>Received award for Outstanding Teaching Assistant</li>
</ul>
</div>
<h1>Achievements</h1>
<ul class="res-list">
	<li>Co-founder of UWG ACM-W chapter</li>
	<li>Member of Upsilon Pi Upsilon, CS honors society</li>
	<li>Placed 3rd in the #HackTheViolence Hackathon 2017</li>
	<li>Placed 1st in the SUPPLY.com company Hackathon 2019</li>
</ul>