/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body { 
	height: 100%; 
}
body {
	background-color: #000;
	color: #fff;
}
#wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: 0 auto;
	background: #fff;
	color: #000;
}
#container {
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 300;
	padding-bottom: 50px;
	flex: 1 0 auto;
}
#container h1 {
	font-weight: 600;
	text-align: center;
}
#container h2 {
	font-weight: 600;
	text-align: center;
}
#container h3 {
	font-weight: 600;
	text-align: center;
}
.separator {
	border-bottom: 1px solid #000;
	width: 50%;
	margin: 25px auto;
}
.clear {
	clear: both;
}

/***** HEADER *****/
.header {
	text-align: center;
}
.subtitle {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.25em;
	font-style: italic;
	color: gray;
	margin: 15px;
}
.header h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	font-weight: normal;
}
.logo {
	width: 100px;
}

/***** NAVBAR *****/
.nav {
}
.navbar {
	list-style-type: none;
}
.navbar li {
	display: inline;
	font-family: 'Roboto', sans-serif;
	margin-right: 2%;
	font-weight: 100;
}
.navbar li:hover {
	font-weight: 300;
}
.navbar a {
	text-decoration: none;
	color: #6F1A8D;
}

/***** LEFT MENU *****/
.left-menu {
	width: 12.5%;
	float: left;
	text-align: center;
	line-height: 60px;
	position: fixed;
	top: 25vh;
}
.left-menu ul {
	list-style-type: none;
}
.sm-logo {
	width: 30px;
	font-size: 30px;
}

/***** FOOTER *****/
.footer {
	font-family: 'Montserrat', sans-serif;
	flex-shrink: 0;
	margin: 25px;
}
.copy {
	text-align: right;
	font-size: .75em;
}

/***** INTRO *****/
/*.intro {
	font-size: 1.25em;
	margin: 0 auto;
	width: 80%;
}
.oversize {
	font-size: 5em;
	float: left;
	padding-right: 20px;
	margin-top: -.5em;
	margin-bottom: -.5em;
}
.large {
	font-size: 2em;
}*/

/*****ARTICLES *****/
.articles {
	display: flex;
	margin: 25px auto;
	width: 90%;
	/*overflow: auto;*/
}
.art-card {
	flex: 0 1 content;
	padding: 10px;
}
.art-img-split {
	height: 40%;
	display: flex;
}
.art-body-split {
	
}
.art-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid #000;
}
.art-title {
	font-weight: bold;
	font-size: 1.1em;
	color: black;
	display: -webkit-box;
  	-webkit-line-clamp: 1;
  	-webkit-box-orient: vertical;  
  	overflow: hidden;
  	margin-bottom: 5px;
}
.art-body {
	display: -webkit-box;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;  
  	overflow: hidden;
  	display: inline;
}
.read-more {
	display: inline;
	font-size: .85em;
}
.art-link {
	text-decoration: none;
}
.art-link:hover {
	text-decoration: underline;
	text-decoration-color: black;
}
.art-date {
	font-size: .85em;
	font-color: gray;
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
}

/***** BOOK CARDS *****/
.reading {
	display: flex;
	flex-direction: row;
}
.book-title {
	font-weight: 500;

}
.book-card {
	flex: 0 1;
	padding: 10px;
}
.book-img {
	float: left;
	width: 75px;
	margin-right: 10px;
}
.book-title {
	
}

/***** RESUME *****/
.download-btn {
	padding: 5px;
	background-color: #6F1A8D;
	border: 1px solid black;
	color: black;
	text-align: center;
	margin: 0 auto;
	width: ;
}
.res-ex {
	margin-top: 15px;
}
.res-title {
	font-weight: 700;
	font-size: 1.25em;
}
.res-company {
	font-weight: 500;
	font-style: italic;
}
.res-date {
	font-style: italic;
}
.res-list {
	margin-left: 5%;

}

/***** RESPONSIVE BITS *****/

@media only screen and (max-width: 1180px) {
  #wrapper {
 	width: 100%;
 	margin: 0 auto;
 	background: #fff;
 	padding: 75px;
  }
  .art-title {
	font-weight: bold;
	font-size: 1.1em;
	color: black;
	display: -webkit-box;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;  
  	overflow: hidden;
  	margin-bottom: 5px;
}

@media only screen and (max-width: 1050px) {
  #wrapper {
 	width: 100%;
 	margin: 0 auto;
 	background: #fff;
 	padding: 10px;
  }
  #container {
 	min-height: 100vh;
 	font-family: 'Montserrat', sans-serif;
 	color: #403c3a;
 	font-weight: 300;
 	margin-left: 235px;
 	margin-top: 10px;
  }
  .content {
 	width: 75%;
 	margin: 0 auto;
  }
  .intro {
  	font-size: 1em;
  }
  .oversize {
  	font-size: 2.5em;
  }
  .intro {
	font-size: 2em;
	margin: 50px auto;
	text-align: justify;
}
.oversize {
	font-size: 4em;
	float: left;
	padding-right: 10px;
	top: -.40em;
	margin-top: -.45em;
	margin-bottom: -.5em;
	padding: 10px; 
}
  .articles {
  	flex-direction: column;
  }
  .art-card {
	flex: 0 1 content;
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
  }
}
