/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

 body {
 	background: #7B3D46;
 }

 #wrapper {
 	width: 75%;
 	margin: 0 auto;
 	background: #fff;
 	padding: 75px;
 }

 #container {
 	min-height: 100vh;
 	font-family: 'Montserrat', sans-serif;
 	color: #403c3a;
 	font-weight: 300;
 	margin-left: 235px;
 	margin-top: 40px;
 }
 #container h1 {
	font-weight: 600;
 }
 #container h2 {
	font-weight: 600;
 }
 #container h3 {
	font-weight: 600;
 }

 .clear {
 	clear: both;
 }



/***** HEADER *****/
.header {
	height: 220px;
	line-height: 220px;
}
.header-img {
	display: inline-block;
	margin: 10px;
	width: 200px;
	border-radius: 50%;
	float: left;
}
.header h1 {
	margin-left: 40px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5em;
	color: #d54e62;
}

/***** NAVBAR *****/
.nav {
	line-height: 0 !important;
	margin-top: -65px;
}
.navbar {
	list-style-type: none;
	border-bottom: 2px solid #d54e62;
	line-height: 25px;
	width: 90%;
	margin-left: 70px;
}
.navbar li {
	display: inline;
	font-family: 'Megrim', sans-serif;
	margin-left: 15px;
	font-size: 1.2em;
}
.navbar a {
	text-decoration: none;
	color: #286385;
}

/***** LEFT MENU *****/
.left-menu {
	width: 220px;
	margin-top: 40px;
	float: left;
	text-align: center;
	line-height: 60px;
}
.left-menu ul {
	list-style-type: none;
}
.sm-logo {
	width: 30px;
}
.linkedin {
	width: 36px;
	margin-left: 6px;
}
.ig {
	width: 32px;
}

/***** FOOTER *****/
.footer {
	border-top: 1px solid #88807c;
	font-family: 'Montserrat', sans-serif;
	height: 20vh;
}
.copy {
	text-align: right;
	margin: 25px;
	font-size: .75em;
}

/***** INTRO *****/
.intro {
	font-size: 2em;
	margin-top: 50px;
}



