<div class="left-menu">
	<ul>
		<li><i class="fab fa-github sm-logo"></i></li>
		<li><i class="fab fa-medium sm-logo"></i></li>
		<li><i class="fab fa-instagram sm-logo"></i></li>
		<li><i class="fab fa-dev sm-logo"></i></li>
		<li><i class="fab fa-linkedin sm-logo"></i></li>
		
		
		
	</ul>
</div>